html, body{
	font-family: Georgia;  
	margin:0;
	font-size:20px;
	color:white;
}

header{
	background-color: #C5DCE3;
	padding:40px;
	text-align: center;
}
h1{
	font-size: 90px;
	color: white;
}

header img{
	border-radius:233px;
	width:700px;
	border: 15px solid #094154;
	box-shadow: 0 5px 10px black;
}

.content{
	background-color: #D5DBE0;
	padding: 20px 20px;
	margin: 20px auto;
	max-width: 600px; 
}

img.big-image{
	max-width: 100%
}

p.caption{
	font-size: 16px;
	color:darkgray;
	font-style: italic;
}

ul{
	list-style:none;
	padding:40px;
	margin:0;
}

.wrapper{
	background-color:#D5DBE0;
}

a{
	color:white;
	text-decoration: none;
	background-color:#5EDCE6;
}

a:hover{
	background-color:#3F9AA1;
}

footer{
	padding:40px 20px;
	background-color: #E6E6E6;
	text-color:white;
}

footer ul{
	text-align:center;
}

footer ul li{
	display:inline-block;
	margin:0 5px;
}








